<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.check.mapper.CheckOrderMapper">

    <select id="selectOrderPage" resultType="com.hd.check.entity.CheckOrder">
        SELECT * FROM check_order
        WHERE deleted = 0
        <if test="residentName != null and residentName != ''">
            AND resident_name LIKE CONCAT('%', #{residentName}, '%')
        </if>
        <if test="idCard != null and idCard != ''">
            AND id_card LIKE CONCAT('%', #{idCard}, '%')
        </if>
        <if test="deptId != null">
            AND dept_id = #{deptId}
        </if>
        <if test="checkYear != null">
            AND check_year = #{checkYear}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
