<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huidong.physical.core.mapper.SpecimenMapper">

    <select id="selectByBarcodeNo" resultType="com.huidong.physical.core.entity.Specimen">
        SELECT * FROM t_specimen
        WHERE barcode_no = #{barcodeNo} AND deleted = 0
        LIMIT 1
    </select>

    <select id="selectByExamRecordId" resultType="com.huidong.physical.core.entity.Specimen">
        SELECT * FROM t_specimen
        WHERE exam_record_id = #{examRecordId} AND deleted = 0
        ORDER BY create_time ASC
    </select>

</mapper>
