<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilbuy.shop.mapper.ShopLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shop_operate_log
            (shop_id, operate_type, operate_content, operate_user, operate_time)
        VALUES
            (#{shopId}, #{operateType}, #{operateContent}, #{operateUser}, NOW())
    </insert>

    <sql id="logListColumns">
        l.id, l.shop_id, s.shop_name, l.operate_type, l.operate_content,
        l.operate_user, l.operate_time
    </sql>

    <sql id="logListWhere">
        <where>
            <if test="shopId != null">AND l.shop_id = #{shopId}</if>
            <if test="operateType != null and operateType != ''">
                AND l.operate_type = #{operateType}
            </if>
            <if test="operateUser != null and operateUser != ''">
                AND l.operate_user LIKE CONCAT('%', #{operateUser}, '%')
            </if>
            <if test="operateTimeStart != null and operateTimeStart != ''">
                AND l.operate_time &gt;= #{operateTimeStart}
            </if>
            <if test="operateTimeEnd != null and operateTimeEnd != ''">
                AND l.operate_time &lt;= #{operateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectPage" resultType="com.ilbuy.shop.vo.ShopOperateLogVO">
        SELECT <include refid="logListColumns"/>
        FROM shop_operate_log l
        LEFT JOIN shop_info s ON l.shop_id = s.shop_id
        <include refid="logListWhere"/>
        ORDER BY l.operate_time DESC
    </select>

    <select id="selectForExport" resultType="com.ilbuy.shop.vo.ShopOperateLogVO">
        SELECT <include refid="logListColumns"/>
        FROM shop_operate_log l
        LEFT JOIN shop_info s ON l.shop_id = s.shop_id
        <include refid="logListWhere"/>
        ORDER BY l.operate_time DESC
    </select>

</mapper>
